@import "../../style/color.scss";

@keyframes load-animation {
  0% {
    transform: rotate(-0deg) scale(1);
    fill: $gray;
  }
  23%, 29% {
    transform: rotate(-90deg) scale(1.3);
    fill: var(--second-animation-step);
  }
  47%, 55% {
    transform: rotate(-180deg) scale(1);
    fill: $gray;
  }
  72%, 79% {
    transform: rotate(-270deg) scale(1.3);
    fill: var(--second-animation-step);
  }
  92%, 100% {
    transform: rotate(-360deg) scale(1);
    fill: $gray;
  }
}

.loader {
  animation: load-animation 2.4s linear infinite;
  animation-direction: reverse;
  --second-animation-step: #{$light-blue};
  path {
    fill : unset
  }
}

.oceana.loader {
  --second-animation-step: #{$gray-dark};
}