@import "../../style/color.scss";

.info-box {
  background: rgba(108, 93, 211, 0.08);
  padding: 24px;
  display: flex;
  grid-gap: 16px;
  border-radius: 8px;
  
  img {
    width: 40px;
    height: 40px;
    margin: auto;
    object-fit: contain;
  }
  
  .transaction-info {
    text-align: left;
    color: $almost-white;
    font-size: 12px;
    line-height: 20px;
  }
}

.info-box.pink {
  background: rgba(255, 162, 192, 0.08);
  .transaction-info {
    color: $pink;
  }
}