@import "../../style/scroll.scss";
@import "../../style/color.scss";
@import "../../style/sizes.scss";
@import "../../style/responsive.scss";

@include customScrollBar('.scroll-container', transparent);
@include customScrollBar('.scroll-container.scrolling');
.fav-rows-panel {
    .scroll-container {
        height: 280px;
        overflow-x: auto;
        justify-content: space-between;
        gap: 0px 22px;
        display: flex;
        padding: 10px;
        padding-bottom: 20px;
        flex-direction: column;
        flex-wrap: wrap;
    }
    // transform: translate(-10px, -10px);
    
    .fav-row {
        @include responsive(width, 270px, 300px, 320px, 1024px, $mobile-tablet-threshold);
        font-size: 12px;
        
        .coin-tick {
            font-weight: 600;
        }
        .coin-tick, .market-cap-label {
            color: #777E90;
        }

        .display-name-label {
            font-weight: 600;
            font-size: 16px;
        }

        .thumb-link {
            position: relative;
        }

        .position-badge {
            position: absolute;
            left: -4px;
            top: -4px;
            background-color: $almost-white;
            border-radius: 20px;
            width: 20px;
            height: 20px;
            color: $gray-dark;

            text-align: center;
            line-height: 20px;
            font-weight: 600;

            border: 2px solid $gray-darkest;
        }
    }
}