@import "../../style/color.scss";
@import "../../style/responsive.scss";
@import "../../style/sizes.scss";

$mobile-threshold : 750px;
.header {
    height: 41px;
    font-family: DM Sans;
    background-color: $gray-darkest;
    padding: 20px 0px;
    @include responsive(padding, 20px $screen-padding, 20px $screen-padding, 20px $screen-padding);
    @include max-width-auto-padding();
    display: flex;
    justify-content: space-between;
    color: white;
    border-bottom: 1px $gray-dark solid;
    z-index: 4;
    position: relative;

    .explore-link:first-child {
        @include responsive(margin-right, null, 16px, 24px);

    }

    .explore-link {
        color: #808191;
        text-transform: capitalize;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        display: inline-block;
    }

    .explore-link.active {
        color: $almost-white;
    }

    .explore-link:hover {
        color: #FCFCFD !important;
    }

    .header-section {
        display: flex;
        margin: auto 0px;
    }

    .explore-section {
    }

    .right-section>* {
        @include responsive(margin-right, 12px, 16px, 24px);
    }

    //Last components in right flex component
    .user-button, .burger-button {
        margin-right: 0px;
    }

    .connect-wallet-button,.user-thumb {
        margin-right: 0px;
    }
    
    .burger-button {
        display: none;
        margin-right: 0px;
    }

    .logo {
        margin: auto 0px;
        @media (max-width: 340px) {
            img {
                height: 22px;
            }
        }
    }


    @media (max-width: 1024px){
        .user-thumb .thumb-button {
            max-width: 118px;
        }
    }
}
@media (max-width: $mobile-threshold) {
    .header {
        .burger-button {
            display: unset;
        }
        .user-thumb {
            display: none;
        }
        .connect-wallet-button,.explore-section {
            display: none;
        }
        .create-nft-button {
            display: none;
        }
    }
}