// primary
$blue : #3F8CFF !default;
$hover : #3F8CFF !default;
$purple : #6C5DD3 !default;
$pink : #FFA2C0 !default;
$green : #7FBA7A !default;

// accent
$light-blue : #4BC9F0 !default;
$light-brown : #E4D7CF !default;
$yellow : #FFD166 !default;
$lilac : #CDB4DB !default;

// neutral
$gray-darkest : #1F2128 !default;
$gray-darker : #242731 !default;
$gray-dark : #353945 !default;
$gray : #808191 !default;
$gray-light : #B1B5C3 !default;
$gray-lighter : #E6E8EC !default;
$gray-lightest : #F4F5F6 !default;

$almost-white: #FCFCFD;

$link-hover: #315EC9;

$positive-color: $green;
$neutral-color: $green;
$negative-color: $pink