@import "../../style/color.scss";
@import "../../style/responsive.scss";

@mixin panel-layout {
  background-color: $gray-darker;
  // border: 1px solid $gray-dark;
  border-radius: 16px;
  padding: 32px;
  @media (max-width: 1024px) {
    padding: 24px;
  }
}

.equity-panel {
  display: flex;

  @include panel-layout;
  .equity-section {
    // padding: 20px 0px;
    flex-basis: 0;
    min-width: 0;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    // display: flex;
    // column-gap: 12px;
    // flex-wrap: wrap;
  }

  .title-section {
    font-size: 14px;
    color: $almost-white;
    margin-bottom: 6px;
    width: 100%;
  }

  .panel-separator {
    background-color: $gray-darkest;
    width: 1px;
    margin: 0px 48px;
    @media (max-width: 1200px) {
      margin: 0px 24px;
    }
  }

  .main-values-container {
    display: flex;
    column-gap: 12px;
    flex-wrap: wrap;
    
    @media ( max-width: 1200px) and (min-width: 1024px) {
      flex-direction: column;
    }
  }

  .main-value {
    font-weight: 600;
    font-size: 24px;
    color: $almost-white;
    white-space: nowrap;
    display: inline-block;
  }

  .usd-value, .secondary-value {
    color: #777E90;
    font-weight: 600;
    font-size: 24px;
  }

  .field-name {
    font-size: 12px;
    white-space: nowrap;
    margin-right: 10px;
  }

  .field-value {
    font-size: 14px;

    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;

    column-gap: 6px;
  }

  .eth-value {
    font-weight: 500;
    color: $almost-white;
    white-space: nowrap;
  }

  .eth-value.positive {
    color: $green;
  }

  .eth-value.negative {
    color: $negative-color;
  }

  .field-row {
    display: flex;
    justify-content: space-between;
    line-height: 20px;
    color: #777E91;
  }

  .upper-section {
  }

  .bottom-section {
    margin-top: 32px;
    display: flex;
    flex-direction:  column;
    gap: 18px;
  }

  .white {
    color: $almost-white;
    font-weight: 500;
  }

  @media (max-width: 660px) {
    //Gap between equity-section in responsive layout
    // column-gap: 20px;

    dispĺay: flex;
    flex-direction: column;

    @include mobile-only {
      column-gap: 12px;
    }

    .panel-separator {
      width: 100%;
      height: 1px;
      margin: 24px 0px;
    }

    // .equity-section {
    //   @include panel-layout;
    // }
  }
  // @media (min-width: 1025px) {
  //   @include panel-layout;
  // }
}