@import "../../style/responsive.scss";
@import "../../style/color.scss";

.news-list {
  max-width: 640px;
  @media (max-width:659px) {
    max-width: 311px;
    margin: auto;
  }
  .news-tile:not(:first-child) {
    margin-top: 32px;
  }

  .load-more-container {
    text-align: center;
    margin-top: 24px;
  }
}

.news-list.empty {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 72px;
    object-fit: cover;
  }

  .empty-news-label {
    margin-top: 32px;
    font-size: 24px;
    color: $gray;
    font-weight: 600;
  }
}