@import "../../style/color.scss";

.order-placed-modal {
  .buy-title {
      font-size: 40px;
      justify-content: center;
      color: $almost-white;
      font-weight: bold;
      font-family: 'DM Sans';
      margin: 0px;
  }

  .purchased-token-number {
      margin: 30px 0px;
      color: $almost-white;
      font-weight: 400;
  }
  .transaction-box {
      padding: 24px;
      border: 1px solid $gray-dark;
      border-radius: 12px;
      font-size: 14px;
      color: #777E91;
      text-align: left;
      display: flex;

      >.column {
          display: flex;
          flex-direction: column;
          min-width: 0px;
          width: 0px;
          flex-grow: 1;

      }

      .transaction-status {
          font-weight: 600;
      }
      .transaction-status.pending {
          color: $blue;
      }

      .transaction-status.completed {
          color: $green;
      }

      .transaction-status.failed {
        color: $pink;
    }

      .transaction-address {
          color: $almost-white;
      }
  }

  .done-btn {
      margin-top: 32px;
      width: 100%;
  }
}